{% extends "base.html" %}

{% macro dt(SAVE_AS, date, text) %}
  <dt><a href='{{ SITEURL }}/{{ SAVE_AS.format(date=date).replace('index.html', '') }}'>{{ text }}</a></dt>
{% endmacro %}

{% block header %}
    <!-- Page Header -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Archives for {{ period | reverse | join (' ') }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}
{% block content %}
  <dl id='period-archives'>
    {% set last_year = None %}
    {% set last_month = None %}
    {% for article in dates %}
      {% if last_year != article.date.year %}
        {% if not loop.first %}
    </dd>
        {% endif %}
    {{ dt(YEAR_ARCHIVE_SAVE_AS, article.date, article.date.year) }}
    <dd>
      {% endif %}
      {% if last_year != article.date.year or last_month != article.date.month %}
        {% if not loop.first %}
          </ul>
        </dd>
      </dl>
        {% endif %}
      <dl>
        {{ dt(MONTH_ARCHIVE_SAVE_AS, article.date, article.date.strftime('%B')) }}
        <dd>
          <ul class='days'>
      {% endif %}
            <li>{{ article.date.day }} <a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></li>
      {% if loop.last %}
          </ul>
        </dd>
      </dl>
    </dd>
      {% endif %}
      {% set last_year = article.date.year %}
      {% set last_month = article.date.month %}
    {% endfor %}
</dl>
{% endblock content %}
