{% if DUOSHUO_SITENAME %}
<div class="ds-thread" data-thread-key="{{DUOSHUO_PREFIX}}/{{article.lang}}/{{article.category}}/{{article.id}}" data-title="{{DUOSHUO_PREFIX}}/{{article.lang}}/{{article.category}}/{{article.id}}" data-url="{{DUOSHUO_PREFIX}}/{{article.url}}" style="width: 80%;margin-left: 20%;"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"{{ DUOSHUO_SITENAME }}"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
{% endif %}
