{% macro translations_for(article) %}
    {% if article.translations %}
        {% if article.lang == 'ch'%}
            Tanslation:
            {% for translation in article.translations %}
                <a href="{{ SITEURL }}/{{ translation.url }}">English</a>
            {% endfor %}
        {% else %}
            Tanslation:
            {% for translation in article.translations %}
                <a href="{{ SITEURL }}/{{ translation.url }}">中文</a>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}
